
.main {
    margin: 20px;
    text-align: center
}

.input-field {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border-style: solid 
}

.comment-button {
    color: white;
    background: blue;
    margin: 10px;
    border-radius: 5px

}